.cover__link-heading {
  z-index: 1;
  max-width: 560px;
  width: 100%;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  text-decoration: none;
  color: var(--main-text);
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .cover__link-heading {
    width: 255px;
    margin-bottom: 16px;
    line-height: 35px;
    font-size: 32px;
  }
}
