.header__lang-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-text);
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}
