.header__lang-link {
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}
