.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
  padding-top: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    margin: 0 48px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    margin: 0 24px;
    grid-template-columns: repeat(auto-fit, 352px);
    gap: 16px;
    padding-top: 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    margin: 0 16px;
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 12px;
    padding-top: 64px;
  }
}
