.cover {
  position: relative;
  max-width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/__background.png);
  background-size: cover;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    min-height: 640px;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    background-size: cover;
  }
}
