.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  color: var(--url-title);
  line-height: 20.4px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .place__url-heading {
    line-height: 12px;
  }
}
